/* CSS RESET BEGINS */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* CSS RESET ENDS */

* {
    box-sizing: border-box;
}

html,
body {
    height: 100dvh;
}

img {
    width: 15rem;
    height: 15rem;
}

p, h1, h2, h3 {
    text-align: center;
}

body {
    background:url('../images/bg.jpg');
    color: rgb(255, 255, 0);
    font-family: 'Roboto Condensed', sans-serif;
}

#content {
    height: 100dvh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 3rem;
}

header,
footer,
section#home-page,
section#contact-page,
li.menu-item {
    background-color: rgba(0, 0, 0, 0.60);
}

header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

h1 {
    font-size: 3rem;
    font-weight: 900;
    font-family: 'Leckerli One', cursive;
}

ul.nav-bar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 10vw;
    padding: 1rem;
}

ul.nav-bar>li {
    cursor: pointer;
    padding: 1rem;
    text-align: center;
    font-weight: bold;
    transition: background-color 0.1s ease-in-out, box-shadow 0.5s ease-in-out;
}


ul.nav-bar>li:hover {
    border-radius: 5px;
    background-color: rgba(255, 255, 0);
    color: black;
}


.selected {
    box-shadow: 0 5px 1px -1px rgb(255, 255, 0);
}

main {
    overflow: auto;
    transition: opacity 0.5s ease-in-out;
}

main.render-animation {
    opacity: 0;
}

main>section {
    width: 80%;
    margin: 5vh auto;
    border-radius: 10px;
}

section#home-page {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    height: 85%;  
    font-size: 2rem;
}

h2 {
    font-size: 2rem;
    font-weight: 800;
}

section#menu-page {
    width: 60%;
}

ul.menu-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

li.menu-item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 250px;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    gap: 2vh;
    padding: 5rem 1rem;
    border: 1px solid black;
    border-radius: 20px;
}

h3 {
    font-weight: 700;
    font-size: 1.5rem;
}

section#contact-page {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    height: 85%;
    font-size: 1.5rem;
}

footer {
    display: grid;
    align-items: center;
    justify-items: center;
    font-family: 'Noto Sans', sans-serif;
}

footer p {
    font-size: 1.5rem;
    font-weight: 900;
}

footer a,
footer a:visited {
    color: rgb(255, 51, 204);
    text-decoration: none;
}

/* Below Scorllbar styling was obtained from a stackoverflow answer */

::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: none;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.50);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 0, 0.5);
  } 