@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 12px;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background: linear-gradient( to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./images/bg.jpg);
    font-family: 'Bebas Neue', cursive;
    color: beige;
    background-size: cover;
    background-attachment: fixed;
}

img {
    width: 200px;
    height: 200px;
}

#content {
    height: 100%;
    width: 100%;
    font-size: 3rem;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 4rem;
}

#nav-bar {
    display: flex;
    gap: 24px;
}

#home-button:hover,
#menu-button:hover,
#contact-button:hover {
    background-color: blue;
    color: brown;
    box-shadow: 0 0 10px 5px beige;
}

#home-body {
    display: flex;
    gap: 50px;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
}

#menu-body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    width: 100%;
    height: auto;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

#menu-body div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact-body {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.current {
    background-color: yellow;
    color: black;
}